@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/*
Nav bar
*/

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:16px;
    color: rgb(221, 24, 24);
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.logo{
    cursor: pointer;
    height: 40px;
    width: 140px;
    

}

.nav_links{
    list-style: none;
    position: relative;
  display: inline-block;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}
.dropdown{
 display: inline-block;
}
.nav_links li a:hover, .dropdown:hover .dropbtn{
    color: rgb(243, 103, 10);
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content a {
    color:rgb(221, 24, 24) ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* Nav Bar end
*/

/* container
*/
.container{
   text-align: center;
   align-items: center;
   height: 250px;
   width: 100%;
   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

span{
    color: rgb(221, 24, 24);
}
.sub-headline{
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

.headline{
    font-size: 40px;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
}

.con-logo{
    height: 100px;
    width: 100px;
    overflow: auto;
}
/* container end
*/

.content-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80vh;
    width: 100%;

}
.content{
    width: 50%;
    font-size: 20px;
    
}
.content h1{
    font-size: 50px;
    margin-left: 50px;
    font-family: "Montserrat", sans-serif;
}
.content  img{
    float: right;
    margin-right: 100px;
    width: 400;
    height: 400;
    border-radius: 100%;
    
}
.content p{
    padding: 15px;
    margin-left: 100px;
}
 .author {
    overflow: auto;
    text-align: center;
}
.author img{
    border-radius: 100%;
}
/* content
*/

.content-wrapper{
    padding: 1px 0 30px 0;
    width: 100%;
    height: 90vh;
}
.wrapper{
    padding: 0 30px;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-flow: row wrap;
}
.article{
    padding: 10px 20px;
}
.item,.item2, .item3,.item4{
   margin: 0 auto;
    
}
.item > img, .item2 > img, .item3 > img,.item4 > img{
    height: 150px;
    display: inline-block;
    vertical-align: middle;
}
.item article header h1 a{
    color: black;
    font-size: 30px;
}

.item button{
    display: block;
    width: 30%;
    height: 40px;
    margin-left: auto;
    color: black;
    cursor: pointer;
    border: none;
    background-color: rgb(145, 213, 43);
    border-radius: 10px;
    outline: 0;
}
.item button:hover{
    background-color: rgb(132, 194, 38);
}
.item-container{
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    height: 200px;
    width: 500px;
}
.item-container h1 a{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.item-container span{
    color: rgb(145, 213, 43);
}


.item2 button{
    display: block;
    width: 30%;
    height: 40px;
    margin-left: auto;
    color: black;
    cursor: pointer;
    border: none;
    background-color: rgb(43, 100, 213);
    border-radius: 10px;
    outline: 0;
}
.item2 button:hover{
    background-color: rgb(65, 76, 196);
}
.item2-container{
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    height: 200px;
    width: 500px;
}
.item2-container h1 a{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.item2-container span{
    color: rgb(65, 76, 196);
}

.item3 button{
    display: block;
    width: 30%;
    height: 40px;
    margin-left: auto;
    color: black;
    cursor: pointer;
    border: none;
    background-color: rgb(221, 29, 29);
    border-radius: 10px;
    outline: 0;
}
.item3 button:hover{
    background-color: rgb(169, 22, 22);
}
.item3-container{
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    height: 200px;
    width: 500px;
}
.item3-container h1 a{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.item3-container span{
    color: rgb(221, 29, 29);
}


.item4 button{
    display: block;
    width: 30%;
    height: 40px;
    margin-left: auto;
    color: black;
    cursor: pointer;
    border: none;
    background-color: rgb(251, 138, 31);
    border-radius: 10px;
    outline: 0;
}
.item4 button:hover{
    background-color: rgb(230, 129, 22);
}
.item4-container{
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    height: 200px;
    width: 500px;
}
.item4-container h1 a{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.item4-container span{
    color: rgb(251, 138, 31);
}



/* content end
*/

.main{
    background: #333;
    color: #fff;
    
    margin-top: auto;
    
   
}

.main img{
    height: 600px;
    width: 800px;
}
.main .copy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #999;
    font-family: Arial,sans-serif;
    font-size: 11px;
    width: 100%;
    height: 20px;
}